RECAPTCHA_SITE_KEY=TU_SITE_KEY
RECAPTCHA_SECRET_KEY=TU_SECRET_KEY

MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_token_app
MAIL_PORT=587
MAIL_FROM=tu_correo@gmail.com
MAIL_FROM_NAME="Soporte DRoca Inmobiliaria"
